<header>
  <h1>My personal page</h1>
  <nav>
    <a href="/">Home</a>
    | <a href="/about">About Dark</a>
    | <a href="/contact">Contact</a>
    | <a href="/hello/Greg">Hello</a>
    | <a href="/user">Admin</a>
  </nav>
</header>