<nav>
  <a href="/">Home</a>
  | <a href="/about">About Dark</a>
  | <a href="/contact">Contact</a>
  | <a href="/hello/Greg">Hello</a>
  | <a href="/other">404</a>
  | <a href="/user">Admin</a>
</nav>